<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper对应接口限定名-->
<mapper namespace="com.heima.user.mapper.ApUserMapper">

    <resultMap type="com.heima.model.user.pojos.ApUser" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="BOOLEAN"/>
        <result property="certification" column="is_certification" jdbcType="BOOLEAN"/>
        <result property="identityAuthentication" column="is_identity_authentication" jdbcType="BOOLEAN"/>
        <result property="status" column="status" jdbcType="BOOLEAN"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--通过用户名搜索-->
    <select id="getOneByPhone" resultMap="UserMap">
        select * from ap_user where phone = #{phone}
    </select>

</mapper>